<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bunker_pro2">
  <!-- Physical ground-plane reference. The imported base_link is 450 mm above it. -->
  <link name="robot_bottom" />
  <joint name="robot_bottom_to_base_link" type="fixed">
    <origin xyz="0 0 0.45" rpy="0 0 0" />
    <parent link="robot_bottom" />
    <child link="base_link" />
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0501243835653207 1.13148717175715E-05 -0.171970090908704"
        rpy="0 0 0" />
      <mass
        value="117.130114034265" />
      <inertia
        ixx="2.43689701537572"
        ixy="0.000532557188817471"
        ixz="-0.239610929767167"
        iyy="8.49948250205566"
        iyz="-0.00014416158632506"
        izz="8.8459667438641" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bunker_pro2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bunker_pro2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="sensor_station_link">
    <visual>
      <origin xyz="-0.26875 0 -0.2335" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bunker_pro2/meshes/FullCase.STL"
          scale="0.001 0.001 0.001" />
      </geometry>
      <material name="sensor_station_gray">
        <color rgba="0.35 0.35 0.35 1" />
      </material>
    </visual>
  </link>
  <joint name="sensor_station_joint" type="fixed">
    <origin
      xyz="-0.2125 0 0.016"
      rpy="1.57079632679 0 3.14159265359" />
    <parent link="base_link" />
    <child link="sensor_station_link" />
  </joint>
  <link name="camera_link" />
  <joint name="sensor_station_camera_joint" type="fixed">
    <origin
      xyz="-0.2212 0.318 0"
      rpy="1.57079632679 0 3.14159265359" />
    <parent link="sensor_station_link" />
    <child link="camera_link" />
  </joint>
  <link name="lidar_link" />
  <joint name="sensor_station_lidar_joint" type="fixed">
    <origin
      xyz="0 0.4 0"
      rpy="1.57079632679 0 3.14159265359" />
    <parent link="sensor_station_link" />
    <child link="lidar_link" />
  </joint>
</robot>
